<div id="top">
    <h1>Welcome to the Sample App</h1>
    <div class = >
    <%= link_to "アカウントを登録", signup_path, class: "btn btn-lg btn-info" %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-info" %>
    <p>動作確認は「ログイン」でお願いします。<p>
 </div>