<% provide(:title, "About") %>
    <h1>Sample Appについて</h1>

    <p>
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    は、Ruby on Railsを使用した開発を学ぶための教材です。
    これは、そのチュートリアルのサンプルアプリケーションです。
    </p>
