<% provide(:title, "help_post") %>
<div id="help_page">
  <h1>投稿する方法</h1>

  <h2>ステップ１</h2>
  <p>ホームにあるテキストボックスに投稿したい内容を入力します(140文字以内)。</p>

  <h2>ステップ２</h2>
  <p>投稿には画像を追加できます。</p>

  <h2>ステップ３</h2>
  <p>【投稿】ボタンをクリックして投稿します。</p>
</div>