<% provide(:title, "help_signup") %>
<div id="help_page">
  <h1>アカウントを登録する方法</h1>

  <h2>ステップ１</h2>
  <p>Sample Appホームへアクセスします。</p>

  <h2>ステップ２</h2>
  <p>【アカウントを登録】ボタンをクリックしてアカウントを作成しましょう。</p>

  <h2>ステップ３</h2>
  <p>名前、メールアドレス、確認用のメールアドレスを入力するフォームが表示されます。必要な情報を入力し、【アカウントを作成】ボタンをクリックしてください。</p>

  <h2>ステップ４</h2>
  <p>アカウント登録時に入力したメールアドレスに認証用のメールが送られます。</p>

  <h2>ステップ５</h2>
  <p>認証用のメールにしたがってアカウントを有効化してください。</p>
</div>