<% provide(:title, "Help") %>
    <h1>Help</h1>
            <ul class="help-list">
                <li><%= link_to '投稿する方法', help_post_path %></li>
                <li><%= link_to 'アカウントを登録する方法', help_signup_path %></li>
            </ul>

   

    
